<!DOCTYPE html>
<html>
  <head>
    <!-- Navbar -->
    <script
      src="https://kit.fontawesome.com/ac147dd639.js" 
      crossorigin="anonymous"
    ></script>
    <title>Boldly Navigating Nature</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="It is a Dublin Bike Rental Website" />
    <meta
      name="keywords"
      content="Bike, Dublin, Rental Bikes, Transport, Bicycle"
    />
  </head>
  <body id="home">
    <!-- Navbar -->
    <nav id="navbar">
      <h1 class="logo">
        <span class="text-primary"> <i class="fas fa-bicycle"></i> Boldly </span
        >Navigating Nature
      </h1>
      
      <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="./map_1.html">Map</a></li>
      </ul>
    </nav>
    <!-- Header -->
    <header id="showcase">
      <div class="showcase-content">
        <h1 class="l-heading">Explore Dublin, the Natural Way</h1>
        <p class="lead">
          Welcome to BNN, your go-to solution for convenient and flexible urban transportation in Dublin. 
        </p>
        <a href="#what" class="btn">Start Exploring</a>
      </div>
    </header>
    <!-- Section : What We Do -->
    <section id="what">
      <div class="container">
        <h2 class="m-heading text-center">
          <span class="text-primary">What</span> We Do
        </h2>
        <div class="items">
          <div class="item">
            <i class="fas fa-bicycle fa-2x"></i>
            <div class="what-content">
              <h3>Extensive Citywide Network</h3>
              <p> 
                Whether you're starting your journey near the historic Dublin Castle, the Temple Bar district,
                or the St. Stephen's Green, BNN boasts a comprehensive network of nearby pickup and drop-off locations.
              </p>
              
            </div>
          </div>
          <div class="item">
            <i class="fas fa-leaf fa-2x"></i>
            <div class="what-content">
              <h3>Easy and Efficient</h3>
              <p>
                Experience the simplicity of renting a bike with BNN.
                Our user-friendly online platform allows you to easily reserve a bike at your preferred pickup location, making the process smooth and efficient.
              </p>
            </div>
          </div>
          <div class="item">
            <i class="fa fa-clock-o fa-2x"></i>
            <div class="what-content">
              <h3>Convenient Pickup and Drop-Off</h3>
              <p>
                With our strategically located bike stations, picking up and returning your rental bike is a breeze. 
                Begin your adventure at one location and conclude it at another, eliminating the need to backtrack
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Sectiom: Who We Are -->
    <section id="who">
      <div class="who-img"></div>
      <div class="who-text">
        <h2 class="m-heading" style = "text-align: center;"><span class="text-primary">Who</span> We Are</h2>
      
        <h3 style = "text-align: center;">Our Team</h3>
        <ul>
          <li>Niall McKay</li>
          <li>Nathan Power</li>
          <li>Brian McMahon</li>
        </ul>
      </div>
    
      <div class="google-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d73051.15504758617!2d-6.309968525814693!3d53.3381351279173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e80ea27ac2f%3A0xa00c7a9973171a0!2sDublin!5e0!3m2!1sen!2sie!4v1708100739080!5m2!1sen!2sie" width="710" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </section>
    <!-- Section: Footer -->
    <footer id="main-footer">
      <div class="container">
        <p>Copyright &copy; 2024, BNN - Boldly Navigating Nature, All Rights Reserved</p>
      </div>
    </footer>
    
  </body>
</html>
