<!-- AIzaSyBMP-D_lSKcqEIldSO4LYi_1NdYEvw71eIr -->
<html>
  <head>
    <title>Boldly Navigating Nature</title>
    

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
  </head>
  <body>
    <body id="home">
      <!-- Navbar -->
      <nav id="navbar">
        <h1 class="logo">
          <span class="text-primary"> <i class="fas fa-bicycle"></i> Boldly </span
          >Navigating Nature
        </h1>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#what">What</a></li>
          <li><a href="#who">Who</a></li>
          <li><a href="./map.html">Map</a></li>
        </ul>
      </nav>
    
    <!--The div element for the map -->
    <div id="map"></div>
    <div id="infobox"></div>
    <!-- prettier-ignore -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="module" src="{{ url_for('static', filename='js/map_1.js') }}"></script>
    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "AIzaSyBMP-D_lSKcqEIldSO4LYi_1NdYEvw71eI", map_ids :'992d9c838bb18c39', v: "weekly"});</script>
  </body>
</html>