<!-- AIzaSyBMP-D_lSKcqEIldSO4LYi_1NdYEvw71eIr -->
<html>
  <head>
    <title>Boldly Navigating Nature</title>
    <script src="https://kit.fontawesome.com/ac147dd639.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
  </head>
  <body>
    <body id="home">
      <!-- Navbar -->
      <nav id="navbar">
        <h1 class="logo">
          <span class="text-primary"> <i class="fas fa-bicycle"></i> Boldly </span
          >Navigating Nature
        </h1>
        <!-- Date information container -->
        <div id="date-info">Date</div>
        <!-- Weather information container -->
        <div id="weather-info">Weather</div>
        <ul>
          <li><a href="./templates/index.html">Home</a></li>
          <li><a href="./map_1.html">Map</a></li>
        </ul>
      </nav>

    <!--The div element for the map -->
    <div>
    <div id="map"></div>
    <!-- <div id = "scroll_div"></div> -->
    <div id="infobox">
      <div class="info-column-coordinates">
        <!-- <div id = sidebar_title> -->
          <!-- Info:</div><div id="Lat">Lat</div><div id="Long">Long</div> -->
        <div class="info-column-station">
            <h2 id = "user_title"><strong>Station Info</strong></h2>
          <!-- <p><strong>Station Number:</strong> </p>
          <p><strong>Station Name:</strong> </p>
          <p><strong>Bikes :</strong> </p>
          <p><strong>Bike Stations:</strong> </p> -->
        <div id = "tablediv"></div>
          <table id = lnglat_table>
            <tr>
              <td>Station Number:</td>
              <td><div id="stat_number"></div></td>
            </tr>
            <tr>
              <td>Station Name:</td>
              <td><div id="stat_name"></div></td>
            </tr>
            <tr>
              <td>Bikes Available:</td>
              <td><div id="b_available"></div></td>
            </tr>
            <tr>
              <td>Bike Stations:</td>
              <td><div id="b_stations"></div></td>
            </tr>
        </table>
      </div>
      </div>
      <div class="info-column-chart">
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
        
            <canvas id="myChart"></canvas>
      </div>
      <div class = "info-column-coordinates ">
          <div id = "info-column-station ">
          <h2 class = "current_location"><strong>Click Map for Location Marker</strong></h2>
          <div id = "tablediv">
            <table id = lnglat_table>
              
                <tr>
                  <td>Current Lat</td>
                  <td><div id="Lat"></div></td>
                </tr>
                <tr>
                  <td>Current Lng</td>
                  <td><div id="Long"></div></td>
                </tr>
                <tr>
                  <td>Station Name</td>
                  <td><div id="Closest"></div></td>
                </tr>
                <tr>
                  <td>Distance from User</td>
                  <td><div id="Dist"></div></td>
                </tr>
                <tr>
                  <td>Available bikes</td>
                  <td><div id="Available"></div></td>
                </tr>
              
            </table>
            <!-- <div id="Closest"></div> -->
          </div>
        </div>
      </div>
      <div class="info-column-filler">
        
          <h2 class = "map_leg">Map Legend</h2>
          <ul>
            <li>
              <img src="../static/images/player.png" alt="Marker 1" class="legend-marker">
              User Location (on click)
            </li>
            <li>
              <img src="../static/images/bicycle-bike-closest_star.png" alt="Marker 1" class="legend-marker">
              Closest Station to User (on click)
            </li>
            <li>
              <img src="../static/images/bicycle-bike-green.png" alt="Marker 1" class="legend-marker">
              Plentiful Bike Station
            </li>
            <li>
              <img src="../static/images/bicycle-bike-orange.png" alt="Marker 1" class="legend-marker">
              Bike Station with less than 10 Bikes Remaining
            </li>
            <li>
              <img src="../static/images/bicycle-bike-red.png" alt="Marker 1" class="legend-marker">
              Bike Station with No Bikes Remaining
            </li>
            <!-- Add more legend items as needed -->
          </ul>
      </div>
      <div id = 'info-column-prediction'>
        
        <h2 class = "current_location"><strong>Journey Planner</strong></h2>
          <div id = "tablediv">
            <table id = lnglat_table>
              
                <tr>
                  <td>Select Day</td>
                  <td><div id="select-day"></div></td>
                </tr>
                <tr>
                  <td>Select Time</td>
                  <td><div id="select-time"></div></td>
                </tr>
                <tr>
                  <td>Select Station</td>
                  <td><div id="select-station"></div></td>
                </tr>
                <tr>
                  <td><button type="button" id = "submitButton">Plan Trip</button></td>
                </tr>
              
            </table>
      </div>
      <div id="predicitons_">add answer</div>
    </div>
    <!-- prettier-ignore -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="module" src="{{ url_for('static', filename='js/map_1.js') }}"></script>
    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "AIzaSyBMP-D_lSKcqEIldSO4LYi_1NdYEvw71eI", map_ids :'992d9c838bb18c39', v: "weekly"});</script>
    <script src="https://cdn.jsdelivr.net/npm/markerclustererplus@2.1.4/dist/markerclusterer.min.js"></script>
  </div>
  <footer id = main-footer>
    <!-- Navbar -->
    <nav id="navbar_small">
      <div class="logo_small">
        <span class="text-primary_footer"> <i class="fas fa-bicycle"></i> Boldly </span>
        Navigating Nature - a 2024 green transport oriented software project
      </div>
      
  </footer>
  </body>
</html>