<!-- AIzaSyBMP-D_lSKcqEIldSO4LYi_1NdYEvw71eIr -->
<html>
  <head>
    <title>Boldly Navigating Nature</title>
    <script src="https://kit.fontawesome.com/ac147dd639.js" crossorigin="anonymous"></script>
    

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
  </head>
  <body>
    <body id="home">
      <!-- Navbar -->
      <nav id="navbar">
        <h1 class="logo">
          <span class="text-primary"> <i class="fas fa-bicycle"></i> Boldly </span
          >Navigating Nature
        </h1>
        <!-- Date information container -->
        <div id="date-info">Date</div>
        <!-- Weather information container -->
        <div id="weather-info">Weather</div>
        <ul>
          <li><a href="./templates/index.html">Home</a></li>
          <li><a href="./map_1.html">Map</a></li>
        </ul>
      </nav>

      <!-- Legend container -->
      <div id="legend">
        <h2>Map Legend</h2>
        <ul>
          <li>
            <img src="../static/images/player.png" alt="Marker 1" class="legend-marker">
            User Location (on click)
          </li>
          <li>
            <img src="../static/images/bicycle-bike-closest.png" alt="Marker 1" class="legend-marker">
            Closest Station to User (on click)
          </li>
          <li>
            <img src="../static/images/bicycle-bike-green.png" alt="Marker 1" class="legend-marker">
            Plentiful Bike Station
          </li>
          <li>
            <img src="../static/images/bicycle-bike-orange.png" alt="Marker 1" class="legend-marker">
            Bike Station with less than 10 Bikes Remaining
          </li>
          <li>
            <img src="../static/images/bicycle-bike-red.png" alt="Marker 1" class="legend-marker">
            Bike Station with No Bikes Remaining
          </li>
          <!-- Add more legend items as needed -->
        </ul>
      </div>
    
    <!--The div element for the map -->
    <div id="map"></div>

    <div id="infobox">
      <div class="info-column-coordinates">
        <h2><strong>User Location:</h2>
        <p id="Lat">Latitude: </p>
        <p id="Long">Longitude: </p>
        <p id="Closest">Closest Station: </p></strong>


      </div>

      <!-- <div class="info-column-weather">
        <h2><strong> Current Weather Information:</h2>
        <p id="temperature"></p>
        <p id="wind-speed"></p>
        <p id="rain"></p>
        <p id="weather-condition"></p></strong>
      </div>-->
        <div class="info-column-station">
          <h2><strong>Station Information:</strong></h2>
        <p><strong>Station Number:</strong> </p>
        <p><strong>Station Name:</strong> </p>
        <p><strong>Bikes Available:</strong> </p>
        <p><strong>Bike Stations:</strong> </p>
      </div>
      <div class="info-column-chart">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
      
          <canvas id="myChart"></canvas>
      
        
        
        
        
      </div>
    </div>
    <!-- prettier-ignore -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="module" src="{{ url_for('static', filename='js/map_1.js') }}"></script>
    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "AIzaSyBMP-D_lSKcqEIldSO4LYi_1NdYEvw71eI", map_ids :'992d9c838bb18c39', v: "weekly"});</script>
         <script src="https://cdn.jsdelivr.net/npm/markerclustererplus@2.1.4/dist/markerclusterer.min.js"></script>

  <footer id = main-footer>
    <!-- Navbar -->
    <nav id="navbar_small">
      <div class="logo_small">
        <span class="text-primary_footer"> <i class="fas fa-bicycle"></i> Boldly </span
        >Navigating Nature - a 2024 green transport oriented
        </div>
      
  </footer>
  </body>
</html>