/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#logo_small{
   font-size:x-small;
}
#Lat{
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: small;
}
#Long{
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: small;
}
 #legend {
   position: absolute;
   top: 80px;
   right: 35%;
   background-color: #fff;
   padding: 10px;
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   z-index: 1000; /* Ensure the legend is above the map */
 }
 
 #legend h2 {
   margin-bottom: 10px;
   font-size: 16px;
 }
 
 #legend ul {
   list-style: none;
   padding: 0;
 }
 
 #legend li {
   margin-bottom: 5px;
 }

 .legend-marker {
   width: 20px;
   height: 20px;
   margin-right: 5px;
   vertical-align: middle;
 }
 

 #map {
   position: absolute;
   top: 60px;
   left: 0;
   height: calc(100% - 60px); /* Subtracting the height of the footer */
   width: 75%; 
   float: right;
 }

 /* CSS styles for weather information */
#weather-info {
   color: #ffffff;
   font-size: 1.2rem;
   margin-right: 20px; /* Adjust as needed */
}

#date-info {
   color: #ffffff;
   font-size: 1.2rem;
   margin-right: 20px; /* Adjust as needed */
}


 .myChart{
   height: 100%;
   width: 100%;
 }

 /* .info-column-weather {
   background-color: #93cb52;
   padding: 50px;
   border-radius: 10px;
   margin-bottom: 10px;
} */

.info-column-coordinates {
   top: 60px;
   /* background-color: #93cb52; */
   /* text-align: center; */
   background-color: #fff;

   /* padding: 50px; */
   /* border-radius: 10px; */
   /* margin-bottom: 10px; */
   flex:0 0 auto;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 20%, rgba(255, 255, 255, 0) 0%);
   background-position: bottom;
   background-size: 20px 1px;
   background-repeat: repeat-x;
   padding: 10px;

}

.info-column-chart {
   display: flex;
   background-color: #fff;
   /* padding: 10px; */
   /* border-radius: 10px; */
   /* margin-bottom: 10px; */
   /* flex-basis: auto; */
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 20%, rgba(255, 255, 255, 0) 0%);
   background-position: bottom;
   background-size: 20px 1px;
   background-repeat: repeat-x;

}

.info-column-station {
   background-color: #fff;
   /* padding: 50px; */
   /* border-radius: 10px; */
   margin-bottom: 1px;
   flex:1 1 content;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 20%, rgba(255, 255, 255, 0) 0%);
   background-position: bottom;
   background-size: 20px 1px;
   background-repeat: repeat-x;
}
.info-column-filler {
   background-color: #fff;
   /* padding: 50px; */
   /* border-radius: 10px; */
   /* margin-bottom: 2px; */
   /* flex:1 1 content; */
   height: 100%;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 20%, rgba(255, 255, 255, 0) 0%);
   background-position: bottom;
   background-size: 20px 1px;
   background-repeat: repeat-x;
}

#infobox {
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 25%;
   background-color: #ffffff;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.2);
   padding: 1rem;
   overflow-y: auto; /* Add scrollbar when content exceeds height */
   position: fixed;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: 1; /* Ensure the info column is above the map */
 }
 
 /* Apply sidebar gradient */
 #infobox {
   background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
   background-position: bottom;
   background-size: 20px 1px;
   background-repeat: repeat-x;
 }

/* Style for the title */
#infobox h2 {
   font-size: 1.5rem;
   font-weight: bold;
   margin-bottom: 1rem;
   color: #93cb52; 
}

/* Style for the sections */
.info-column-coordinates, .info-column-chart, .info-column-station, .info-column-filler {
   background-color: #ffffff; /* White background */
   padding: 1rem;
   margin-bottom: 1rem;
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for table */
#infobox table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 1rem;
}

#infobox th,
#infobox td {
   padding: 0.5rem;
   border-bottom: 1px solid #ddd; /* Light gray border */
}

/* Style for table header */
#infobox th {
   background-color: #f2f2f2; /* Light gray background */
   font-weight: bold;
   text-align: left;
}

/* Style for table rows */
#infobox tr:hover {
   background-color: #f9f9f9; /* Light gray background on hover */
}

/* Style for button */
#infobox button {
   background-color: #93cb52; /* Google Maps blue */
   color: #ffffff;
   padding: 0.5rem 1rem;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
   margin-top: 1rem;
}

#infobox button:hover {
   background-color: #588d1c; /* Darker green on hover */
}

/*Styling for table in the first info box*/
#user_title{
   vertical-align: middle;
   margin: auto;
   text-align: center;
}
ul {
   list-style-type: none;
 }
#current_location{
   vertical-align: middle;
   margin: auto;
   text-align: center;
}
#map_leg{
   vertical-align: middle;
   margin: auto;
   text-align: center;
}
#sidebar_title{
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 20%, rgba(255, 255, 255, 0) 0%);
   background-position: bottom;
   background-size: 20px 1px;
   background-repeat: repeat-x;
}
#station_title{
   vertical-align: middle;
   margin: auto;
}
#user_wrapper {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 5px;
}
#station_wrapper {
   background-color: #fff;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 5px;
}
table {
   /* border-spacing: 50px 0; */
   border-collapse: collapse;
   padding: 20px;
   width: 100%;
 }

tr {
   border-bottom:1px solid rgba(0, 0, 0, 0.1);
}

tr:hover {
   background-color: #6f6f6f41;
}

tr:last-child {
   border-bottom: none; 
}
td {
   padding: 10px 0;
 }

#lnglat_nmb_format{
   font-size: small;
   font-family: 'Courier New', Courier, monospace;
}
#lnglat_txt_format{
   font-size:medium;
}
#tablediv{
   width: 100%;
   float: right;
}
/* Styling foR Geolaction Button*/ 

.custom-map-control-button {
   background-color: #050800;
   color: #ffffff;
   border: 0;
   border-radius: 1px;
   box-shadow: 0 1px 4px -1px rgba(21, 251, 5, 0.3);
   margin: 10px;
   padding: 0 0.5em;
   font: 400 18px Roboto, Arial, sans-serif;
   overflow: hidden;
   height: 40px;
   cursor: pointer;
 }
 .custom-map-control-button:hover {
   background:#78aa40;
 }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 

*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

a{
   text-decoration: none;
}

p{
   padding: 0.75rem 0;
}

/* Utility Class */
.text-primary{
   color: #93cb52;
}
.text-center{
   text-align: center;
}
.l-heading{
   font-size: 4rem;
   margin-bottom: 0.75rem;
}
.m-heading{
   font-size: 2rem;
   margin-bottom: 0.75rem;
   padding: 1.5rem 0;
}
.lead{
   font-size: 1.3rem;
   margin-bottom: 1.4rem;
}
.container{
   max-width: 1500px;
   padding: 0 2rem;
   margin: auto;
   overflow: auto;
}
.btn{
   color: #ffffff;
   background-color: #93cb52;
   padding: 0.75rem 2rem;
   border: none;
   border-radius: 5px;
}
.btn:hover{
   background-color: #7ab436;
}

/* Navbar */
#navbar{
   display: flex;
   background-color: #333333;
   justify-content: space-between;
   color: #ffffff;
   position: sticky;
   top: 0;
   z-index: 100;
   padding: 1rem;
}

#navbar ul{
   display: flex;
   list-style: none;
   align-items: center;
}

#navbar ul li a{
   color: #ffffff;
   padding: 0.75rem;
   margin: 0 0.25rem;
}

#navbar ul li a:hover{
   background-color: #93cb52;
   border-radius: 5px;
}

/* Showcase */
#showcase{
   background: url('../images/dublin.jpg') no-repeat center center/cover;
   color: #ffffff;
   height: 100vh;
}

#showcase .showcase-content{
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   align-items: center;
   height: 100%;
   padding: 0 2rem;
   background-color: rgba(0, 0, 0, 0.4);
}

/* What We Do */
#what .items{
   display: flex;
   flex: 1;
}

#what .items .item{
   text-align: center;
   padding: 2rem;
   font-size: 1.2rem;
}

#what .items .item i{
   background-color: #93cb52;
   padding: 1rem;
   margin-bottom: 1rem;
   border-radius: 50%;
}

/* Who We Are */
#who{
   display: flex;
}

#who div{
   flex: 1;
}

#who .who-img{
   background: url('../images/people.jpg') no-repeat center center/cover;
}

#who .who-text{
   padding: 1.5rem;
   background-color: #333333;
   color: #ffffff;
}
#who .who-text ul{
   list-style: none;
   margin: 1rem 0;
   text-align: center;
}

#who .who-text ul li{
   /* margin: 0.5rem 0 */
   padding: 0.5rem 0;
   border-bottom: 1px dotted #444;
}


/* Footer */
#main-footer {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 40px; /* Adjust as needed */
   background-color: #333333;
   color: rgba(245, 245, 245, 0.815);
   text-align: center;
   padding: 0.75rem 0;
 }

/* #info-box {
   width: 30%;
   float: left;
   padding: 20px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
} */