/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#logo_small{
   font-size:x-small;
}
#Lat{
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: small;
}
#Long{
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: small;
}
 #legend {
   position: absolute;
   top: 80px;
   right: 35%;
   background-color: #fff;
   padding: 10px;
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   z-index: 1000; /* Ensure the legend is above the map */
 }
 
 #legend h2 {
   margin-bottom: 10px;
   font-size: 16px;
 }
 
 #legend ul {
   list-style: none;
   padding: 0;
 }
 
 #legend li {
   margin-bottom: 5px;
 }

 .legend-marker {
   width: 20px;
   height: 20px;
   margin-right: 5px;
   vertical-align: middle;
 }
 

 #map {
   position: fixed;
  top: 0;
  left: 0;
   height: 100%;
   width: 70%;
   float: left;
 }

 /* CSS styles for weather information */
#weather-info {
   color: #ffffff;
   font-size: 1.2rem;
   margin-right: 20px; /* Adjust as needed */
}

#date-info {
   color: #ffffff;
   font-size: 1.2rem;
   margin-right: 20px; /* Adjust as needed */
}


 .myChart{
   height: 100%;
   width: 100%;
 }

 /* .info-column-weather {
   background-color: #93cb52;
   padding: 50px;
   border-radius: 10px;
   margin-bottom: 10px;
} */

.info-column-coordinates {
   /* background-color: #93cb52; */
   background-color: #fff;

   /* padding: 50px; */
   /* border-radius: 10px; */
   /* margin-bottom: 10px; */
   flex:0 0 auto;
   margin-bottom: 1px;

}

.info-column-chart {
   display: flex;
   background-color: #fff;
   /* padding: 10px; */
   /* border-radius: 10px; */
   /* margin-bottom: 10px; */
   /* flex-basis: auto; */
   flex:0 0 auto;
   align-items: stretch;
   margin-bottom: 1px;

}

.info-column-station {
   background-color: #fff;
   /* padding: 50px; */
   /* border-radius: 10px; */
   margin-bottom: 1px;
   flex:1 1 content;
}
.info-column-filler {
   background-color: #fff;
   /* padding: 50px; */
   /* border-radius: 10px; */
   /* margin-bottom: 2px; */
   /* flex:1 1 content; */
   height: 100%;
}

#infobox {
   display: flex;
   height: 100%;
   width: 30%;
   background-color: #ffffff90;
   /* padding: 10px; */
   flex-direction: column;
   overflow: scroll;
   box-shadow: 0 1px 4px -1px rgba(21, 251, 5, 0.3);
}
/*Styling for table in the first info box*/
#user_wrapper {
   display: flex;
   flex-direction: row;
}
#station_wrapper {
   display: flex;
   flex-direction: row;
   float: right;
}
table {
   border-collapse: collapse;
   width: 30%;
   margin-right: 20px;
 }

tr {
   border-bottom:1px solid black;
}

tr:last-child {
   border-bottom: none; 
}

#lnglat_nmb_format{
   font-size: small;
   font-family: 'Courier New', Courier, monospace;
}
#lnglat_txt_format{
   font-size:medium;
}
#tadlediv{
   float: right;
}
/* Styling foR Geolaction Button*/ 

.custom-map-control-button {
   background-color: #050800;
   color: #ffffff;
   border: 0;
   border-radius: 1px;
   box-shadow: 0 1px 4px -1px rgba(21, 251, 5, 0.3);
   margin: 10px;
   padding: 0 0.5em;
   font: 400 18px Roboto, Arial, sans-serif;
   overflow: hidden;
   height: 40px;
   cursor: pointer;
 }
 .custom-map-control-button:hover {
   background:#78aa40;
 }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 

*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body{
   font-family: 'Roboto', sans-serif;
   background-color: #333333;
}

a{
   text-decoration: none;
}

p{
   padding: 0.75rem 0;
}

/* Utility Class */
.text-primary{
   color: #93cb52;
}
.text-center{
   text-align: center;
}
.l-heading{
   font-size: 4rem;
   margin-bottom: 0.75rem;
}
.m-heading{
   font-size: 2rem;
   margin-bottom: 0.75rem;
   padding: 1.5rem 0;
}
.lead{
   font-size: 1.3rem;
   margin-bottom: 1.4rem;
}
.container{
   max-width: 1500px;
   padding: 0 2rem;
   margin: auto;
   overflow: auto;
}
.btn{
   color: #ffffff;
   background-color: #93cb52;
   padding: 0.75rem 2rem;
   border: none;
   border-radius: 5px;
}
.btn:hover{
   background-color: #7ab436;
}

/* Navbar */
#navbar{
   display: flex;
   background-color: #333333;
   justify-content: space-between;
   color: #ffffff;
   position: sticky;
   top: 0;
   z-index: 100;
   padding: 1rem;
}

#navbar ul{
   display: flex;
   list-style: none;
   align-items: center;
}

#navbar ul li a{
   color: #ffffff;
   padding: 0.75rem;
   margin: 0 0.25rem;
}

#navbar ul li a:hover{
   background-color: #93cb52;
   border-radius: 5px;
}

/* Showcase */
#showcase{
   background: url('../images/dublin.jpg') no-repeat center center/cover;
   color: #ffffff;
   height: 100vh;
}

#showcase .showcase-content{
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   align-items: center;
   height: 100%;
   padding: 0 2rem;
   background-color: rgba(0, 0, 0, 0.4);
}

/* What We Do */
#what .items{
   display: flex;
   flex: 1;
}

#what .items .item{
   text-align: center;
   padding: 2rem;
   font-size: 1.2rem;
}

#what .items .item i{
   background-color: #93cb52;
   padding: 1rem;
   margin-bottom: 1rem;
   border-radius: 50%;
}

/* Who We Are */
#who{
   display: flex;
}

#who div{
   flex: 1;
}

#who .who-img{
   background: url('../images/people.jpg') no-repeat center center/cover;
}

#who .who-text{
   padding: 1.5rem;
   background-color: #333333;
   color: #ffffff;
}
#who .who-text ul{
   list-style: none;
   margin: 1rem 0;
   text-align: center;
}

#who .who-text ul li{
   /* margin: 0.5rem 0 */
   padding: 0.5rem 0;
   border-bottom: 1px dotted #444;
}


/* Footer */
#main-footer{
   background-color: #333333;
   color: rgba(245, 245, 245, 0.815);
   text-align: center;
   padding: 0.75rem 0 0 0;
}

/* #info-box {
   width: 30%;
   float: left;
   padding: 20px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
} */